extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
  - let booksid = toShow._id
  - let name = toShow.name
  - let author = toShow.author
  - let price = toShow.price
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{booksid}
  - let actionid = "/resource/books/" + booksid
  form(id='booksForm', action= actionid, method="PUT")
    div.form-group
        label.booksAttr(for='name') book name
        input#name(type='text', name='name', value= name )
    div.form-group
        label.booksAttr(for='author') book author
        input#size(type='text', name='author', value= author )
    div.form-group
        label.booksAttr(for='price') book price
        input#cost(type='number', name='price', value= price )
    input(type="submit")

  script.
    document.forms['booksForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
