extends layout

block content
  h1= title

  form(id='booksForm', action="/resource/books", method="POST")
    div.form-group
        label.booksAttr(for='name') books name
        input#bookstype(type='text', name='name')
    div.form-group
        label.booksAttr(for='author') books author
        input#size(type='text', name='author')
    div.form-group
        label.booksAttr(for='price') books price
        input#cost(type='number', name='price')
    input(type="submit")

  script.
    document.forms['booksForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });

