body {
  padding: 50px;
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

.booksAttr {
  background-color: rgb(251, 255, 0);
  width: 250px;
}
